<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach((item) => { %>
      <li>
        <p>User: <%= item.user %></p>
        <p>Message: <%= item.text %></p>
        <p>Added: <%= item.added %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
